#navbar {
  display: block;
}
#navbar .logo {
  display: flex;
  justify-content: center;
}
#navbar ul {
  display: none;
}

/* Hero Section */

#hero h1 {
  font-size: 1.7rem;
  text-align: center;
  padding: 0.15rem;
}

#main .container {
  width: 100%;
}
#main .container h2 {
  font-size: 1.3rem;
}

#main .container .info-section {
  display: flex;
  flex-direction: column;
}

#main .info-section div {
  width: 100%;
}

#main .info-section img {
  max-width: 100%;
  padding: 0.5rem 0;
}

#main .info-section:last-child {
  margin-bottom: 2rem;
}

/* Menu Page */
#menu .container h1 {
  padding: 1.5rem auto;
}
#menu .container {
  width: 100%;
}
#menu .menu-item {
  flex-direction: column;
  flex: 100%;
}

#menu .menu-item .menu-item-info {
  width: 100%;
}

#menu .menu-item .menu-item-info h3 {
  text-align: center;
  margin: 0.75rem auto;
  font-size: 1.3rem;
}

#menu .menu-item .menu-item-info ul li {
  padding-bottom: 10px;
}

#menu .menu-item img {
  width: 100%;
}
/* Footer */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#footer ul {
  display: none;
}

#footer ul li a {
  font-size: 0.5rem;
}

#footer .lg {
  display: none;
}

#footer .sm {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

#footer .sm a {
  text-decoration: none;
  color: var(--bg-light);
}

#footer .sm a.current {
  text-decoration: underline;
}
