* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Utilities */
.bg-dark {
  background-color: #282828;
  color: #f5f5f5;
}
.btn {
  padding: 1rem;
  background-color: #282828;
  color: #f5f5f5;
  border-radius: 10px;
}

.btn-primary {
  background: #a30202;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0.5rem 1rem;
  background: #282828;
  color: #f5f5f5;
  height: 70px;
  position: fixed;
  width: 100%;
}

#navbar .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar .logo * {
  padding: 0.3rem;
}

#navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#navbar ul li {
  padding: 1rem;
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  color: #f5f5f5;
}

#navbar ul li a.current {
  text-decoration: underline;
}
/* Hero Section */
#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/imgs/bandeja-paisa1.jpg") no-repeat center center/cover;
  color: #f5f5f5;
  z-index: -2;
  position: relative;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
#hero h1 {
  font-size: 2.5rem;
}
#hero a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 0.55rem;
}

/* Main Section */
#main .container {
  width: 80%;
  margin: auto;
}

#main .container h2 {
  text-align: center;
  font-size: 2rem;
  margin: 50px 0;
}
#main .container .info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75vh;
}

#main .info-section div {
  width: 50%;
  padding: 1rem;
}
#main .info-section img {
  max-width: 40%;
  margin: auto;
  padding: 1rem;
}

#main .info-section div h3 {
  text-align: center;
  margin-bottom: 10px;
}

#main .info-section:nth-child(odd) {
  flex-direction: row-reverse;
}

#footer {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  padding: 1rem;
}

#footer .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer i {
  padding: 0.5rem;
}

#footer ul li {
  list-style: none;
}
#footer ul li a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 0.75rem;
}

#footer div:nth-of-type(2) {
  line-height: 1.3rem;
}

#footer div:nth-of-type(2) p {
  font-size: 0.75rem;
}

/* Menu Page */

.menu-hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-hero img {
  height: 75%;
  width: 100%;
}
.menu-hero h1 {
  margin-top: 3rem;
  font-size: 2.5rem;
}
#menu .container {
  width: 80%;
  margin: auto;
}
#menu .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}
#menu .menu-item .menu-item-info {
  width: 50%;
  padding: 1rem;
}
#menu .menu-item .menu-item-info ul li {
  list-style: none;
}

#menu .menu-item .menu-item-info ul li h3 {
  font-size: 0.9rem;
}
#menu .menu-item .menu-item-info ul li p {
  font-size: 0.8rem;
}
#menu .menu-item img {
  width: 30%;
}

#contact.hero {
  height: 100vh;
  background: url("imgs/restuarant-bar.jpg") no-repeat center center/cover;
}

#about-us h2 {
  margin: 2rem 0;
  text-align: center;
}

#about-us p {
  margin-bottom: 1rem;
}
.container {
  width: 80%;
  margin: auto;
}

#hours {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

#hours img {
  width: 40%;
}

#hours ul li {
  list-style: none;
}

#hours .info h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

#hours .info ul li {
  line-height: 1.3rem;
}

#contact-us {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

#contact-us img {
  width: 40%;
}

#contact-us h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  /* text-align: center; */
}

/* #contact-us ul {
  text-align: center;
} */

#contact-us ul li {
  list-style: none;
}
.bolded {
  font-weight: 600;
}
